$bg-color: rgb(214, 6, 6);
$w: 100px;

@mixin main-font {
    @include set-color-text();
    font-size: 20px;
    line-height: 28px;
}

@mixin paddings($value, $border-color: black) {
    border: 1px solid $border-color;
    padding-top: $value*2;
    padding-bottom: $value*3;
    padding-left: $value;
    padding-right: $value;
}

@mixin set-color-text {
    @if (lightness($bg-color) < 30%) {
        color: white;
    }

    @else {
        color: rgb(28, 69, 71);
    }
}

body {
    background-color: $bg-color;
    @include set-color-text();
}

.block {
    width: $w +200px;
    margin: $w / 2;
    padding: $w - 50px;
    border: $w*0.1 solid rgb(174, 77, 230);
    background-color: adjust-color(rgb(10, 182, 235), $red: 50%);

    img {
        width: 100% - 10%;
    }

    p {
        color: adjust-color(rgb(99, 75, 238), $lightness: -20%);

        .bold {
            font-weight: bold;
        }

        &:last-child {
            font-style: italic;
        }
    }
}

p {
    @include main-font;
    @include paddings(20px, blue);
}

@for $i from 1 to 5 {
    .item-#{$i} {
        width: 90%;
        height: 50px;
        background-color: adjust-color(rgb(28, 12, 114), $lightness: 90% / $i);
    }
}

/*верстка меню по BEM*/
.menu {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;

    &__item {
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        text-decoration: none;
        transition: all 0.4s;

        &:hover {
            color: cadetblue;
        }

        &--active {
            font-weight: bold;
            color: cadetblue;
        }

        @media(max-width: 900px) {
            font-size: 20px;
        }
    }

    @media(max-width: 768px) {
        display: none;
    }
}

/*задание 3-4*/

$bg-btn: rgb(122, 226, 25);
$color-btn: rgb(67, 100, 192);
$font-size-btn: 20px;
$radius-btn: 10px;
.auth__btn--login {
    background-color: $bg-btn;
    color: $color-btn;
    font-size: $font-size-btn;
    border-radius: $radius-btn;
    padding-left: $font-size-btn*0.5;
    padding-right: $font-size-btn*0.5;
}
.auth__btn--reg {
    background-color: adjust-color($bg_btn,$hue:180deg, $lightness: -50%);
}
 /*задание 5*/
 .auth {
    max-width: 250px;
    background-color: adjust-color($bg_btn,$lightness:40%);
    padding: 20px;

    &__value {
        border-radius: $radius-btn;
    }
    &__btn{
        border: none;
        transition: all 0.3s;
        
        &--login{
            color: $color-btn;
            background: $bg-btn;
        }
        &--reg{
            color: adjust-color($bg_btn,$lightness:20%);
            background: adjust-color($bg_btn,$blackness:20%);
        }
        &:hover {
            color: rgb(145, 29, 240);
        }
    }
    div {
        padding-top: 10px;
    }
    div:first-child{
        padding-top: 0;
    }
 }

 /*задание 6*/
 @mixin set-size($font-size:16px) {
    font-size: $font-size;
    padding: $font-size*0.5 $font-size*0.3;
 }
 input {
    border-radius: $radius-btn;
    border: none;
    @include set-size($font-size-btn);
 }