$bg-color: red;
$w: 100px;

@mixin main-font {
    color:chartreuse;
    font-size: 20px;
    line-height: 28px;
}
@mixin paddings($value, $border-color:black){
    border: 1px solid $border-color;
    padding-top: $value*2;
    padding-bottom: $value*3;
    padding-left: $value;
    padding-right: $value;
}

body {
    background-color: $bg-color;
}

.block {
    width: $w +200px;
    margin: $w / 2;
    padding: $w - 50px;
    border: $w*0.1 solid rgb(174, 77, 230);
    background-color: adjust-color(rgb(10, 182, 235), $red: 50%);
    img {
    width: 100% - 10%;
}
p {
    color: adjust-color(rgb(99, 75, 238), $lightness: -20%);
    .bold {
        font-weight: bold;
    }
    &:last-child {
        font-style: italic;
    }
}
}

p {
    @include main-font;
    @include paddings(20px, blue);
}